
.container{
    width : 500px;
     text-align: center;
}

#main {
   outline: 2px dashed #92b0b3 ;
    outline-offset:-10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 400px;
    height: 400px;
    background-color: gray;
}

#fileTableTbody{
    font-color : white;
    font-size : 26px;
}
