#result {
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultDesc{
    font-size: 23px;
}

.resultname{
    font-size: 27px;
}

.kakao{
    color : white;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

.kakao:hover, .kakao:focus{
    background-color: white;
    color:#FEE500;
}